@using CinemaManagementSystem.Data.ViewModels;
@model ShoppingCartVM

@{ 
    ViewData["Title"] = "Shopping cart summary";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2> You shopping cart summary</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Movie</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                    <th>Discount Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Movie.Name</td>
                        <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount*item.Movie.Price).ToString("c"))</td>

                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                               asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total: </b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <form asp-action="metoda">


            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group">

                        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                        {
                            <label asp-for="Coupons" class="control-label"></label>
                            <input asp-for="Coupons" class="form-control" />
                            <span asp-validation-for="Coupons" class="text-danger"></span>
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                            <p>@((item.Amount * item.Movie.Price).ToString("c"))</p>

                        }

                    </div>
                </div>
        </form>
    </div>
        

                <div class="d-flex text-right justify-content-end">

                    @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                    {
                        if (item.Amount >= 1)
                        {
                            <a class="btn btn-outline-primary mr-4" asp-action="CompleteOrder">
                                Complete order
                            </a>
                            <div id="paypal-btn"></div>
                            <span style="padding:5px"></span>

                        }
                        break;
                    }

                    <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">
                        Add more items
                    </a>

                </div>
            </div>
        </div>
        @section scripts {

            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            <script>

    let _total = @Html.Raw(Model.ShoppingCartTotal);

    paypal.Button.render({
        //Configure environment
        env: 'sandbox',
        client: {
            sandbox: 'Af6OGPr9Bf6FtZgziAJ5DiLX9izNMNT_0nG7CA5trTORjZoGnF_Nk5H71bZdDfODzcjeKC9tc2uGkUV5'
        },

        //Customize button
        local: 'en_US',
        style: {
            size: 'small',
            color: 'gold',
            shape: 'pill'
        },
        commit: true,

        //Set up a payment
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: _total,
                        currency: 'USD'
                    },
                }]
            })
        },

        //Execute the payment
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                var url = '@Url.Action("CompleteOrder", "Orders", new {})';
                window.location.href = url;
            })
        }
    }, '#paypal-btn');
            </script>
        }
