@model AllMovies
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "List of Movies";
    var counter = 1;
}

@if (!User.IsInRole("Admin"))
{
    <div class="carousel-slider">
        <div class="slider">
            @foreach (var item in Model.FiveMovies)
            {
                <span style="--i:@counter;
                  -webkit-box-reflect: below 40px linear-gradient(transparent, transparent, #0004);">
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@item.ImageURL" alt="First slide" /></a>
                </span>
                counter++;
            }
        </div>
    </div>
}
  
<div class="carousel-slider">
    <div class="slider">
        @foreach (var item in Model.FiveMovies)
        {
            <span style="--i:@counter;
                  -webkit-box-reflect: below 40px linear-gradient(transparent, transparent, #0004);">
                <a asp-action="Details" asp-route-id="@item.Id"><img src="@item.ImageURL" alt="First slide" /></a>
            </span>
            counter++;
        }
    </div>
</div>

<table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index2" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
                </th>
                <th>
                    <a asp-action="Index2" asp-route-sortOrder="@ViewData["DateSortParm"]">StartDate</a>
                </th>
                <th>
                    <a asp-action="Index2" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
                </th>
        </thead>
    </table>

<div class="row m-lg-4">
    @foreach (var item in Model.Movies)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px; -webkit-box-shadow: 4px 7px 26px 5px rgba(0,0,0,0.38); box-shadow: 4px 7px 26px 5px rgba(0,0,0,0.38);">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div style="background-color: #4056A1" class="card-header text-white">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name

                                </h5>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="text-white float-right" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash ml-2"></i></a>
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                }
                            </p>
                        </div>
                    </div>
                    @if (!String.IsNullOrEmpty(item.ImageURL))
                    {
                        <div class="col-md-6">
                            <img src="@item.ImageURL" width="100%" height="400px" alt="@item.Name">
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6">
                            <img src="~/Images/default-movie.jpg" width="100%" height="400px" alt="@item.Name">
                        </div>
                    }
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Category: </b>@item.Category.MovieCategory</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span> }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span> }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>}
                            </p>
                            <p class="card-text"><b>Description: </b>@item.Description</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a style="margin-bottom:10px;" class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                @if (!User.IsInRole("Admin"))
                                {
                                    @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                    {
                                        <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))</a> }
                                    else if (DateTime.Now > item.EndDate)
                                    {
                                        <a class="btn btn-success text-white disabled" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))</a> }
                                    else
                                    {
                                        <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))</a>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }
</div>
    @await Html.PartialAsync("_CreateItem", "Movies")
    @section scripts{
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
        <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
        </script>
    }
